### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
/.idea/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
**/migrations/*
db.sqlite3

# virtual environments
/ox_venv/